body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    color: #222;
    font-family: 'Arial', sans-serif;
}

#grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    border: 1px solid #333;
    background-color: #fff;
}

#grid div {
    border: 1px solid #333;
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    background-color: #666;
}

.bomb:before {
    content: "💣";
    font-size: 30px;
    text-align: center;
    display: block;
    align-content: center;
    top: 50%
}

.bombs-around-1:before {
    content: "1"
}

.bombs-around-2:before {
    content: "2"
}

.bombs-around-3:before {
    content: "3"
}

.bombs-around-4:before {
    content: "5"
}

.bombs-around-6:before {
    content: "6"
}

.bombs-around-7:before {
    content: "7"
}

.bombs-around-8:before {
    content: "8"
}


#grid .revealed {
    background-color: white;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}